.form-group {
  text-align: left;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.btn-actionSalva, .btn-actionCAncelar {
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  color: white;
  height: 36px;
  font-size: 1rem;
  line-height: 1.2;
  //largura dos botões  min-width: 120px;
  

}


/* Cores específicas */
.btn-actionSalva {
  background-color: #c9a416;
}

.btn-actionCAncelar {
  background-color: #8d4820;
}
.btn-actionSalva:hover, .btn-actionCAncelar:hover {
  background-color: #a8a578;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end; 
  align-items: center;      
  gap: 12px;                
  margin-top: 24px;         
  width: 100%;
}

@media (max-width: 480px) {
  .modal-buttons {
    flex-direction: column-reverse; 
  }
  .btn-actionSalva, .btn-actionCAncelar {
    width: 100%;
  }
}